.root{
   li{
    display: inline-block;
    &.selected{
        background-color: #fe5f1e;
            color:#FFF 
    }
    a{
        display: inline-block;
        color:#fe5f1e;
        line-height:38px;
        text-align: center;
        width: 45px;
        height: 42px;
        cursor: pointer;
        border: 1px solid #1d0c05;
        border-radius: 30px;
        margin-right: 10px; 

        &:hover {
            background-color: #fe5f1e;
            color:#FFF
        }
    }
   }
   :global {
    .selected{
        a{
            background-color: #fe5f1e;
            color:#FFF
        }
    }
   }

}